.btnBase {
  padding: 10.5px 21px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  outline: 2px solid transparent;
  transition: all 0.25s;
}

/* Primary */
.btnPrimary {
  margin-bottom: 0.2em;
  background-color: var(--fire-orange);
}

.btnPrimary:hover,
.btnPrimary:focus {
  background-color: var(--fire-red);
  border: var(--primary-700);
  box-shadow: var(--shadow);
}

/* Link */
.btnLink {
  padding: 0;
  font-weight: 500;
  color: var(--link-color);
  background: none;
  border: none;
}

.btnLink:hover,
.btnLink:focus {
  color: var(--link-color-hover);
}

.btnLink:focus {
  border-radius: 4px;
  outline: 2px solid var(--primary-600);
}

/* Demo as Guest */
.btnGuestDemo {
  height: var(--form-element-height);
  padding: 10.5px 21px;
  font-size: 0.9rem;
  background-color: transparent;
  border: 3px dotted var(--black);
  outline: none;
}

.btnGuestDemo:hover,
.btnGuestDemo:focus {
  font-weight: 600;
  color: var(--fire-red);
  background-color: var(--primary-100);
  border-color: var(--acc-pink-400);
  box-shadow: var(--shadow);
}

/* Small Caps */
.btnSmallCaps {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0.875rem;
  color: var(--transparent-dark-gray);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: transparent;
  transform: translateY(-50%);
}

.btnSmallCaps:hover,
.btnSmallCaps:focus {
  text-decoration: underline;
}
