@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "chocolateWithBrownie";
  src: url(./fonts/chocolate-with-brownie.ttf);
}

:root {
  --card-padding-top-bottom: 1.6em;
  --card-padding-left-right: 2em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  /* For animation when switching to dark mode */
  transition:
    background-color 0.3s,
    border 0.3s;
}

html {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  color-scheme: light dark;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100dvh;
  background-color: theme(colors.primary.800);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: theme(colors.link-color);
  text-decoration: inherit;
}
a:hover {
  color: theme(colors.link-color-hover);
}

ul {
  list-style: none;
}

.centered-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

.error-page-container {
  display: flex;
  flex-direction: column;
  background-color: theme(colors.light-accent.200);
  padding: var(--card-padding-top-bottom) var(--card-padding-left-right);
  border-radius: 10px;
}

.global-error-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: firebrick;
  margin-bottom: 1em;
  text-align: center;
}

.main-title {
  font-family: theme(fontFamily.chocolateWithBrownie);
  font-weight: bold;
  color: theme(colors.secondary.500);
  text-align: center;
  margin-bottom: 0.3em;
}
