@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  color-scheme: light dark;

  /* Variables */
  --primary-color: #281c30;
  --secondary-color: #b63b63;
  --light-accent: #ddb39b;
  --dark-accent: #916f1c;
  --fire-orange: #f47c07;
  --fire-red: #f4541c;
  --link-color: #646cff;
  --link-color-hover: #535bf2;
  --alternate-white: #f5f9ee;

  --card-padding-top-bottom: 1.6em;
  --card-padding-left-right: 2em;

  --nearly-white: rgba(255, 255, 255, 0.87);
  --nearly-black: #242424;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

.error-page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-accent);
  padding: var(--card-padding-top-bottom) var(--card-padding-left-right);
  border-radius: 10px;
}

.global-error-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: firebrick;
  margin-bottom: 1em;
  text-align: center;
}

/* TYPOGRAPHY */

h1 {
  font-size: 5.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.1;
}

/* LINKS */

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color-hover);
}

button {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--fire-orange);
  cursor: pointer;
  transition: all 0.25s;
  padding: 0.6em 1.2em;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
}

.button-link {
  font-size: 1.6rem;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0;
  color: var(--link-color);
}
.button-link:hover,
.button-link:focus {
  color: var(--link-color-hover);
}

ul {
  list-style: none;
}
