@font-face {
  font-family: "chocolateWithBrownie";
  src: url(./assets/fonts/chocolate-with-brownie.ttf);
}

h1 {
  font-family: chocolateWithBrownie;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 0.3em;
}

.logo {
  width: 13rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--secondary-color));
  transform: scale(1.1);
}
