.auth-container {
  width: 420px;
  text-align: center;
  color: var(--nearly-black);
  background-color: var(--light-accent);
  border-radius: 20px;
  padding: var(--card-padding-top-bottom) var(--card-padding-left-right);
  box-shadow: 0 0 10px 4px rgba(182, 59, 99, 0.5);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-header {
  color: var(--primary-color);
}

.divider {
  width: 15%;
  height: 3px;
  margin: 0.3em auto 0.7em;
  background-color: var(--primary-color);
}

/* Form */
.form-input {
  --form-element-height: 2.5em;

  position: relative;
  height: var(--form-element-height);
}

.form-input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8px;
  border-style: solid;
  padding-left: 2.5em;
}

.form-input input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-input .icon {
  position: absolute;
  left: 15px;
  height: var(--form-element-height);
}

.form-input .icon.lock {
  width: 1.1em;
}

.form-input input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

.error-message {
  font-size: 1.5rem;
  font-weight: 500;
  color: firebrick;
  text-align: left;
  padding-left: 0.2em;
}

.network-error-message {
  align-self: center;
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
  color: firebrick;
  background-color: #8c91f0;
  border-radius: 5px;
  padding: 0.2em 0.4em;
}

/* Buttons and Links */
.login-register-button {
  margin-bottom: 0.2em;
}

.login-register-button:hover {
  background-color: var(--fire-red);
}
.login-register-button:hover,
.login-register-button:focus {
  border-color: var(--primary-color);
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.guest-button-link {
  height: var(--form-element-height);
  font-size: 1.45rem;
  background-color: transparent;
  border: 3px dotted var(--nearly-black);
  padding: 0.6em 1.2em;
}
.guest-button-link:hover,
.guest-button-link:focus {
  color: purple;
  background-color: plum;
  font-weight: 600;
  border-color: var(--secondary-color);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}
